openapi: 3.2.0
info:
  description: '> **Note**

    >

    > Looking for documentation for **Public API v2**?'
  title: Contractbook Documents API
  version: '3.0'
  x-logo:
    altText: Contractbook logo
    backgroundColor: '#FFFFFF'
    url: public/contractbook-logo.svg
servers:
- description: Production server
  url: https://api.contractbook.com/v3/
  variables: {}
- description: Staging server
  url: https://api-staging.contractbook.com/v3/
  variables: {}
security: []
tags:
- name: Documents
paths:
  /documents:
    get:
      callbacks: {}
      deprecated: false
      description: 'Gets a paginated and filtered list of documents.


        This endpoint supports cursor-based pagination. To fetch several pages of documents, repeat the following steps:


        1. fetch a page of documents, without specifying a cursor value,

        2. if there''s a next page, the response will contain a non-empty `cursor` value:


        ```json

        {

        "documents": [...],

        "pagination_meta": {

        "cursor": "c3RyaW5nCg"

        }

        }

        ```


        3. make a subsequent `GET /v3/documents` request while including a parameter `cursor=c3RyaW5nCg`, e.g.


        ```json

        GET /v3/documents?cursor=c3RyaW5nCg

        ```


        Repeat steps 2 and 3 until you fetch all documents. Use `page_size` parameter to control the number of items in the response list.'
      operationId: list_documents
      parameters:
      - description: 'Filters contracts by context.


          Possible values:

          - `my_documents` - returns only contracts that are directly accessible by the user (contracts owned by the user, contracts directly shared with the user or contracts where the user is a signee).

          - `team_documents` - returns contracts that are accessible by the user''s team members.

          - `workspace` - returns contracts that are accessible to the user through contract spaces.


          Default value is `my_documents`.


          If you wish to get all available contracts, just pass all 3 values.

          '
        example: '["my_documents", "workspace"]'
        explode: true
        in: query
        name: context[]
        required: false
        schema:
          items:
            enum:
            - my_documents
            - team_documents
            - workspace
            type: string
          type: array
        style: form
      - description: Adds extra document data to the response, such as `data_fields` and full party details
        in: query
        name: full
        required: false
        schema:
          example: 'false'
          type: boolean
      - description: Filter by document title (case insensitive partial match)
        in: query
        name: title
        required: false
        schema:
          example: Employment aggrement
          type: string
      - description: Filter by document states
        example: '["pending", "states"]'
        explode: true
        in: query
        name: states[]
        required: false
        schema:
          items:
            enum:
            - draft
            - rejected
            - changes_requested
            - pending
            - signed
            - irrelevant
            type: string
          type: array
        style: form
      - description: Filter by document types
        example: '["draft", "contract"]'
        explode: true
        in: query
        name: types[]
        required: false
        schema:
          items:
            enum:
            - draft
            - stored_contract
            - contract
            type: string
          type: array
        style: form
      - description: Filter by tags
        example: '["deals", "vacation"]'
        explode: true
        in: query
        name: tags[]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Whether to look for documents owned by the requester or not
        in: query
        name: owned
        required: false
        schema:
          example: 'false'
          type: boolean
      - description: Page identifier. The next page identifier will be found in the response body
        in: query
        name: cursor
        required: false
        schema:
          example: OGUzOTlmZjAK
          format: byte
          type: string
      - description: Filter by maximum date when the documents were signed (non-inclusive)
        in: query
        name: signed_at_lt
        required: false
        schema:
          example: '2022-01-02T00:00:00Z'
          format: date-time
          type: string
      - description: Filter by minimum date when the documents were signed (inclusive)
        example: '2022-01-02T00:00:00Z'
        in: query
        name: signed_at_gte
        required: false
        schema:
          format: date-time
          type: string
      - description: Filter by maximum date when the documents were updated (non-inclusive)
        example: '2022-01-02T00:00:00Z'
        in: query
        name: updated_at_lt
        required: false
        schema:
          format: date-time
          type: string
      - description: Filter by minimum date when the documents were updated (inclusive)
        example: '2022-01-02T00:00:00Z'
        in: query
        name: updated_at_gte
        required: false
        schema:
          format: date-time
          type: string
      - description: Page size. The default is 25 and the max value is 100
        example: 7
        in: query
        name: page_size
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 0
          type: integer
      - description: Column to use for sorting the documents (defaults to `created_at`)
        example: title
        in: query
        name: sort_column
        required: false
        schema:
          default: created_at
          enum:
          - created_at
          - updated_at
          - title
          type: string
      - description: Order direction when sorting the documents
        example: asc
        in: query
        name: sort_direction
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
      - description: Filter by the ID of the integration object which the document is related to (e.g. Salesforce Opportunity ID)
        example: 00189000008btXMAAY
        in: query
        name: integration_object_id
        required: false
        schema:
          format: string
          type: string
      - description: Workspace ID where documents are contained. It should be used in combination with `context` parameter with value `workspace`
        in: query
        name: workspace_id
        required: false
        schema:
          example: 059fb683-a2d9-4c3a-b134-6f5e7282d499
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentIndexResponse'
          description: Paginated list of documents
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableContentError'
          description: Unprocessable request
      summary: Get a list of documents
      tags:
      - Documents
  /documents/{id}:
    delete:
      callbacks: {}
      deprecated: false
      description: Deletes a document specified by ID
      operationId: delete_document
      parameters:
      - description: Document ID
        in: path
        name: id
        required: true
        schema:
          example: 1e013958-867e-43fb-8210-c98ab139beb6
          format: uuid
          type: string
      responses:
        '204':
          content:
            application/json: {}
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableContentError'
          description: Unprocessable request
      summary: Delete a document
      tags:
      - Documents
    get:
      callbacks: {}
      deprecated: false
      description: Gets a document by ID
      operationId: get_document_by_id
      parameters:
      - description: Document ID
        in: path
        name: id
        required: true
        schema:
          example: 1e013958-867e-43fb-8210-c98ab139beb6
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentShowResponse'
          description: Document
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not Found
      summary: Get a document
      tags:
      - Documents
    patch:
      callbacks: {}
      deprecated: false
      description: Updates a document. Only drafts and stored contracts can be updated.
      operationId: update_document
      parameters:
      - description: Document ID
        in: path
        name: id
        required: true
        schema:
          example: 1e013958-867e-43fb-8210-c98ab139beb6
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentUpdateRequest'
        description: Updated document
        required: false
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentShowResponse'
          description: Document
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'
          description: Conflict
      summary: Update a document
      tags:
      - Documents
  /documents/{id}/pdf:
    get:
      callbacks: {}
      deprecated: false
      description: Gets a PDF copy of a document by ID
      operationId: get_pdf_document_by_id
      parameters:
      - description: Document ID
        in: path
        name: id
        required: true
        schema:
          example: 1e013958-867e-43fb-8210-c98ab139beb6
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentPdfShowResponse'
          description: Document PDF
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentPdfShowAcceptedResponse'
          description: Accepted
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableContentError'
          description: Unprocessable Entity
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableError'
          description: Service Unavailable
      summary: Get a PDF copy of a document
      tags:
      - Documents
  /documents/{id}/send:
    post:
      callbacks: {}
      deprecated: false
      description: Sends a document in a draft state specified by ID
      operationId: send_document
      parameters:
      - description: Document ID
        in: path
        name: id
        required: true
        schema:
          example: 1e013958-867e-43fb-8210-c98ab139beb6
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentSendRequest'
        description: Document send parameters
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentShowResponse'
          description: Document
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequiredError'
          description: Payment requred
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableContentError'
          description: Unprocessable request
      summary: Send a document for signature
      tags:
      - Documents
  /templates/{id}/create_document:
    post:
      callbacks: {}
      deprecated: false
      description: Creates a new document from a template. The template must be specified by ID.
      operationId: create_document_from_template
      parameters:
      - description: Template ID
        in: path
        name: id
        required: true
        schema:
          example: 1e013958-867e-43fb-8210-c98ab139beb6
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentCreateRequest'
        description: Template override parameters
        required: false
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentShowResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: NotFound
      summary: Create a new document from a template
      tags:
      - Documents
components:
  schemas:
    ForbiddenError:
      additionalProperties: false
      description: Forbidden
      properties:
        error:
          additionalProperties: false
          properties:
            message:
              description: Error details message
              example: Forbidden
              type: string
            type:
              description: HTTP error message
              example: forbidden
              type: string
          readOnly: true
          required:
          - type
          - message
          type: object
      readOnly: true
      required:
      - error
      title: ForbiddenError
      type: object
    DocumentSendRequest:
      additionalProperties: false
      description: Document send parameters
      properties:
        autosign:
          default: true
          description: "Whether to automatically sign the document by the sending party during sending.\n\nThis flag will work only if owner of the account which holds the API key is\none of the signees and:\n\n1. The order of signatures on the document is set to:\n   - `random`.\n   - `strict` and the owner is the first signee.\n   - `grouped` and the owner is in the first group of signees.\n2. The owner signature method is any of the following:\n   - SMS (`sms`)\n   - sign with a click (`basic`)\n"
          type: boolean
      title: DocumentSendRequest
      type: object
    UnprocessableContentError:
      additionalProperties: false
      description: Unprocessable Content
      properties:
        error:
          additionalProperties: false
          properties:
            failures:
              description: List of request errors
              items:
                additionalProperties: false
                description: Error description
                properties:
                  detail:
                    description: Details of the error
                    type: string
                  source:
                    additionalProperties: false
                    properties:
                      pointer:
                        description: Failing field name or reference
                        type: string
                    required:
                    - pointer
                    type: object
                  title:
                    description: Title of the error
                    type: string
                required:
                - title
                - detail
                type: object
              type: array
            message:
              description: Error details message
              example: Unprocessable Content
              type: string
            type:
              description: HTTP error message
              example: unprocessable_entity
              type: string
          readOnly: true
          required:
          - type
          - message
          type: object
      readOnly: true
      required:
      - error
      title: UnprocessableContentError
      type: object
    PaymentRequiredError:
      additionalProperties: false
      description: Payment Required
      properties:
        error:
          additionalProperties: false
          properties:
            message:
              description: Error details message
              example: Payment Required
              type: string
            type:
              description: HTTP error message
              example: payment_required
              type: string
          readOnly: true
          required:
          - type
          - message
          type: object
      readOnly: true
      required:
      - error
      title: PaymentRequiredError
      type: object
    UnauthorizedError:
      additionalProperties: false
      description: Unauthorized
      properties:
        error:
          additionalProperties: false
          properties:
            message:
              description: Error details message
              example: Unauthorized
              type: string
            type:
              description: HTTP error message
              example: unauthorized
              type: string
          readOnly: true
          required:
          - type
          - message
          type: object
      readOnly: true
      required:
      - error
      title: UnauthorizedError
      type: object
    BadRequestError:
      additionalProperties: false
      description: Bad Request
      properties:
        error:
          additionalProperties: false
          properties:
            failures:
              description: List of request errors
              items:
                additionalProperties: false
                description: Error description
                properties:
                  detail:
                    description: Details of the error
                    type: string
                  source:
                    additionalProperties: false
                    properties:
                      pointer:
                        description: Failing field name or reference
                        type: string
                    required:
                    - pointer
                    type: object
                  title:
                    description: Title of the error
                    type: string
                required:
                - title
                - detail
                type: object
              type: array
            message:
              description: Error details message
              example: Bad Request
              type: string
            type:
              description: HTTP error message
              example: bad_request
              type: string
          readOnly: true
          required:
          - type
          - message
          type: object
      readOnly: true
      required:
      - error
      title: BadRequestError
      type: object
    DocumentPdfShowAcceptedResponse:
      additionalProperties: false
      description: Used to indicate the PDF is not yet ready for download
      properties:
        message:
          description: Information message containing details
          type: string
      title: DocumentPdfShowAcceptedResponse
      type: object
    DocumentCreateRequest:
      additionalProperties: false
      description: Used to create document draft from a template
      properties:
        document:
          additionalProperties: false
          description: Document parameters
          properties:
            attachments:
              description: Document attachments
              items:
                additionalProperties: false
                description: Document attachment
                properties:
                  filename:
                    description: 'Optional attachment name. We will use it when the user downloads the attachment, as well as display it next to the attachment in the app and in the PDF.

                      '
                    example: Document attachment 1
                    type:
                    - string
                    - 'null'
                  original:
                    description: URL of the attachment
                    example: https://example.com/image.png
                    format: uri
                    type: string
                  preview:
                    description: 'If the original is a document, this field will hold an list URL with image

                      previews of each page

                      '
                    items:
                      description: Preview URL
                      example: https://example.com/preview.png
                      format: url
                      type: string
                    type: array
                type: object
              type:
              - array
              - 'null'
            attachments_signed_separately:
              description: Indicates if the attachments should be signed and sealed separately
              example: true
              type: boolean
            company_logo_url:
              description: The URL of the logo shown in the contract
              format: uri
              type:
              - string
              - 'null'
            data_fields:
              description: Data fields in the document
              items:
                description: Create or update data field schema
                properties:
                  config:
                    additionalProperties: false
                    description: Additional config for this data field. Contains `options` for `select`, or `label` for `checkbox`.
                    properties:
                      label:
                        required: false
                        type:
                        - string
                        - 'null'
                      options:
                        items:
                          type: string
                        required: false
                        type: array
                    type: object
                  description:
                    description: Description
                    type:
                    - string
                    - 'null'
                  formatting:
                    additionalProperties: false
                    description: Formatting
                    properties:
                      fractional:
                        type:
                        - boolean
                        - 'null'
                      grouping:
                        enum:
                        - ''
                        - dot
                        - comma
                        - space
                        type:
                        - string
                        - 'null'
                    type:
                    - object
                    - 'null'
                  id:
                    description: Unique ID
                    format: uuid
                    pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                    type: string
                  name:
                    description: Name
                    type: string
                  required:
                    description: Whether this data field must be filled to send the document for signature
                    type: boolean
                  source:
                    description: Source of data for this data field
                    enum:
                    - drafter_questionnaire
                    - ai
                    - salesforce
                    type:
                    - string
                    - 'null'
                  source_mapping:
                    description: Integration data mapping for this data field. Revealed only when connected to the same integration instance.
                    type:
                    - string
                    - 'null'
                  source_sync_type:
                    description: Integration sync mode for this data field. Revealed only when connected to the same integration instance.
                    enum:
                    - downstream
                    - upstream
                    - bidirectional
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type
                    enum:
                    - text
                    - number
                    - date
                    - select
                    - checkbox
                    type: string
                  value:
                    description: Value
                    type:
                    - string
                    - 'null'
                required:
                - value
                - name
                - type
                title: DataFieldCreateOrUpdate
                type: object
              type: array
            dynamic_tables:
              items:
                additionalProperties: false
                description: Fill the data of the dynamic tables placeholders placed inside your template
                properties:
                  attrs:
                    description: Attributes of the dynamic table
                    properties:
                      columns:
                        description: Column names
                        items:
                          description: Column name
                          type: string
                        type: array
                      id:
                        description: Dynamic table ID
                        type: string
                      rows:
                        description: Data for the table rows
                        items:
                          description: Table row
                          items:
                            description: Cell value
                            type: string
                          type: array
                        type: array
                    required:
                    - id
                    - columns
                    - rows
                    type: object
                required:
                - attrs
                type: object
              type: array
            language:
              description: Language
              example: en
              type:
              - string
              - 'null'
            message:
              additionalProperties: false
              properties:
                content:
                  description: Message content
                  example: Hello!
                  type: string
              type: object
            parties:
              description: Parties and signees
              items:
                additionalProperties: false
                description: Party
                properties:
                  address:
                    description: Address
                    example: 123 Main Street
                    type:
                    - string
                    - 'null'
                  id:
                    description: Unique ID
                    format: uuid
                    pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                    type:
                    - string
                    - 'null'
                  name:
                    description: Name
                    example: Jane Doe
                    type:
                    - string
                    - 'null'
                  number:
                    description: Company's VAT number or CVR
                    type:
                    - string
                    - 'null'
                  reference:
                    description: How the party will be referred to in the document
                    example: Sender
                    type:
                    - string
                    - 'null'
                  signees:
                    description: Party's signees
                    items:
                      additionalProperties: false
                      properties:
                        changes_requested_at:
                          description: Date and time when the signee requested changes to the document
                          format: date-time
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        email:
                          description: Signee's email address
                          format: email
                          type:
                          - string
                          - 'null'
                        full_name:
                          description: Signee's full name
                          example: Jane Doe
                          type:
                          - string
                          - 'null'
                        id:
                          description: Unique ID
                          format: uuid
                          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                          type:
                          - string
                          - 'null'
                        opened_at:
                          description: Date and time when the signee opened the document
                          format: date-time
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        order:
                          description: Signee's signing order. When the signing order mode is set to `grouped`, then this number represents the signee's group number.
                          minimum: 0
                          type: integer
                        rejected_at:
                          description: Date and time when the signee rejected the document
                          format: date-time
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        signature_verification_methods:
                          description: List of allowed signature types for the signee
                          example:
                          - sms
                          - basic
                          - wet_signature
                          items:
                            enum:
                            - sms
                            - basic
                            - wet_signature
                            - criipto_dk_mitid_substantial
                            - criipto_dk_mitid_business
                            - criipto_no_bankid
                            - criipto_se_bankid_same_device
                            - criipto_se_bankid_another_device
                            - criipto_fi_bankid
                            - criipto_fi_bankid_mobile
                            type: string
                          type:
                          - array
                          - 'null'
                        signed_at:
                          description: Date and time when the signee signed the document
                          format: date-time
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        title:
                          description: Signee's title
                          example: Software Engineer
                          type:
                          - string
                          - 'null'
                      type: object
                    type: array
                  type:
                    description: Type
                    enum:
                    - personal
                    - company
                    type: string
                type: object
              type: array
            signing_order_mode:
              description: The signing order mode. When it's set to grouped, each signee in `parties.signees`, should have the order field set to the group's number starting from 0.
              enum:
              - random
              - strict
              - grouped
              example: strict
              type: string
            tags:
              description: Document's tags
              items:
                example: tags
                minLength: 1
                type: string
              type: array
            title:
              description: Document title
              type: string
            to_be_signed_by:
              description: Who should sign the document
              enum:
              - owner_and_others
              - others_only
              - owner_only
              example: owner_only
              type: string
            version:
              description: 'The version has to be provided on update and match the latest document''s version.


                You can get it from the response when you get a document by ID.

                It is also available in the response from document create or update actions.

                '
              format: uuid
              pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
              type: string
          title: DocumentUpdateAttibutes
          type: object
      title: DocumentCreateRequest
      type: object
    ConflictError:
      additionalProperties: false
      description: Conflict
      properties:
        error:
          additionalProperties: false
          properties:
            message:
              description: Error details message
              example: Conflict
              type: string
            type:
              description: HTTP error message
              example: conflict
              type: string
          readOnly: true
          required:
          - type
          - message
          type: object
      readOnly: true
      required:
      - error
      title: ConflictError
      type: object
    DocumentShowResponse:
      additionalProperties: false
      description: A single document
      properties:
        document:
          additionalProperties: false
          properties:
            attachments:
              description: Document attachments
              items:
                additionalProperties: false
                description: Document attachment
                properties:
                  original:
                    description: URL of the attachment
                    example: https://example.com/image.png
                    format: uri
                    type: string
                  preview:
                    description: If the original is a document, this field will hold a list of URLs with image previews of each page
                    items:
                      description: Preview URL
                      example: https://example.com/preview.png
                      format: url
                      type: string
                    type: array
                type: object
              type: array
            comments:
              description: Comments
              items:
                description: Comment
                properties:
                  account:
                    description: Account information
                    properties:
                      email:
                        description: Email
                        format: email
                        type: string
                      id:
                        description: Account ID
                        format: uuid
                        type: string
                      profile:
                        additionalProperties: false
                        description: Profile of the commenter
                        properties:
                          full_name:
                            description: Full name
                            example: Jane Doe
                            type: string
                          id:
                            description: Profile ID
                            format: uuid
                            type: string
                        type: object
                    type: object
                  body:
                    description: Comment body or suggestion text (if it is a suggestion)
                    type: string
                  document_piece:
                    description: A piece of the document text the comment relates to
                    type: string
                  id:
                    description: Comment ID
                    format: uuid
                    type: string
                  inserted_at:
                    description: Creation date and time of the comment
                    format: date-time
                    type: string
                  resolved:
                    description: Whether the comment has been resolved
                    type: boolean
                  seen:
                    description: Whether the comment has been seen
                    type: boolean
                  thread_id:
                    description: Comment's thread ID
                    format: uuid
                    type: string
                  updated_at:
                    description: Modification date and time of the comment
                    format: date-time
                    type: string
                type: object
              type: array
            company_logo_url:
              description: The URL of the logo shown in the contract
              format: uri
              type:
              - string
              - 'null'
            created_at:
              description: Date and time the document was created
              format: date-time
              type: string
            data_fields:
              description: Data fields in the document
              items:
                $ref: '#/components/schemas/DataField'
              type: array
            events:
              description: Document events
              items:
                additionalProperties: false
                description: Document event
                properties:
                  action:
                    description: Event action
                    enum:
                    - archived
                    - changes_requested
                    - created
                    - downloaded
                    - edited
                    - edited_properties
                    - opened
                    - rejected
                    - resent
                    - sent_for_signature
                    - shared
                    - signature_updated
                    - signed
                    - task_created
                    - task_deleted
                    - task_status_updated
                    - task_updated
                    - unshared
                    - uploaded
                    type: string
                  comment:
                    description: Event comment
                    type: string
                  email:
                    description: Email address of the account triggering the event
                    format: email
                    type: string
                  metadata:
                    description: Metadata
                    type: object
                  profile_id:
                    description: Profile ID of the account triggering the event
                    format: uuid
                    type: string
                  seen:
                    description: Whether the event has been seen
                    type: boolean
                  timestamp:
                    description: Event date and time
                    format: date-time
                    type: string
                type: object
              type: array
            id:
              description: Document ID
              format: uuid
              type: string
            language:
              description: Language
              enum:
              - ar
              - az
              - be
              - bg
              - bn
              - bs
              - ca
              - cs
              - cy
              - da
              - de
              - el
              - en-GB
              - es
              - et
              - fi
              - fil
              - fo
              - fr
              - he
              - hi
              - hr
              - hu
              - hy
              - id
              - is
              - it
              - ja
              - kk
              - ko
              - ku
              - lt
              - lv
              - mk
              - mr
              - ms
              - mt
              - my
              - nb
              - nl
              - pa
              - pl
              - pt
              - ro
              - ru
              - sk
              - sl
              - so
              - sq
              - sr
              - sr-Latn-ME
              - sv
              - sw
              - ta
              - th
              - tr
              - uk
              - ur
              - vi
              - zh
              example: uk
              type: string
            ocr_status:
              description: OCR status of the document
              enum:
              - none
              - not_started
              - pending
              - success
              - failure
              example: none
              type:
              - string
              - 'null'
            owner:
              additionalProperties: false
              description: Document's owner information
              properties:
                email:
                  description: Owner's email address
                  format: email
                  type: string
                full_name:
                  description: Owner's full name
                  example: Jane Doe
                  type: string
                id:
                  description: Owner's profile ID
                  format: uuid
                  type: string
              type: object
            parties:
              description: Parties and signees
              items:
                additionalProperties: false
                description: Party
                properties:
                  address:
                    description: Address
                    example: 123 Main Street
                    type:
                    - string
                    - 'null'
                  id:
                    description: Unique ID
                    format: uuid
                    pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                    type:
                    - string
                    - 'null'
                  name:
                    description: Name
                    example: Jane Doe
                    type:
                    - string
                    - 'null'
                  number:
                    description: Company's VAT number or CVR
                    type:
                    - string
                    - 'null'
                  reference:
                    description: How the party will be referred to in the document
                    example: Sender
                    type:
                    - string
                    - 'null'
                  signees:
                    description: Party's signees
                    items:
                      additionalProperties: false
                      properties:
                        changes_requested_at:
                          description: Date and time when the signee requested changes to the document
                          format: date-time
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        email:
                          description: Signee's email address
                          format: email
                          type:
                          - string
                          - 'null'
                        full_name:
                          description: Signee's full name
                          example: Jane Doe
                          type:
                          - string
                          - 'null'
                        id:
                          description: Unique ID
                          format: uuid
                          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                          type:
                          - string
                          - 'null'
                        opened_at:
                          description: Date and time when the signee opened the document
                          format: date-time
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        order:
                          description: Signee's signing order. When the signing order mode is set to `grouped`, then this number represents the signee's group number.
                          minimum: 0
                          type: integer
                        rejected_at:
                          description: Date and time when the signee rejected the document
                          format: date-time
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        signature_verification_methods:
                          description: List of allowed signature types for the signee
                          example:
                          - sms
                          - basic
                          - wet_signature
                          items:
                            enum:
                            - sms
                            - basic
                            - wet_signature
                            - criipto_dk_mitid_substantial
                            - criipto_dk_mitid_business
                            - criipto_no_bankid
                            - criipto_se_bankid_same_device
                            - criipto_se_bankid_another_device
                            - criipto_fi_bankid
                            - criipto_fi_bankid_mobile
                            type: string
                          type:
                          - array
                          - 'null'
                        signed_at:
                          description: Date and time when the signee signed the document
                          format: date-time
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        title:
                          description: Signee's title
                          example: Software Engineer
                          type:
                          - string
                          - 'null'
                      type: object
                    type: array
                  type:
                    description: Type
                    enum:
                    - personal
                    - company
                    type: string
                type: object
              type: array
            sample:
              default: false
              description: Whether this document exists for demonstration purposes or not
              type: boolean
            shared:
              description: Whether the document is shared or not
              type: boolean
            signed_at:
              description: Date and time the document was signed
              format: date-time
              type:
              - string
              - 'null'
            signing_order_mode:
              description: The signing order mode. When it's set to grouped, each signee in `parties.signees`, should have the order field set to the group's number starting from 0.
              enum:
              - random
              - strict
              - grouped
              example: grouped
              type: string
            source_template_id:
              description: ID of the template this document was created from
              format: uuid
              type:
              - string
              - 'null'
            state:
              description: Document state
              enum:
              - draft
              - rejected
              - changes_requested
              - pending
              - signed
              - irrelevant
              type: string
            tags:
              description: Document's tags
              items:
                example: tags
                type: string
              type:
              - array
              - 'null'
            template:
              description: Template
              type:
              - object
              - 'null'
            title:
              description: Document title
              type: string
            to_be_signed_by:
              description: Who should sign the document
              enum:
              - owner_and_others
              - others_only
              - owner_only
              type:
              - string
              - 'null'
            type:
              description: Document type
              enum:
              - draft
              - contract
              - stored_contract
              type: string
            updated_at:
              description: Date and time the document was last modified
              format: date-time
              type: string
            version:
              description: Version
              format: uuid
              type:
              - string
              - 'null'
            visibilities:
              description: Document's users visibilities
              items:
                additionalProperties: false
                properties:
                  email:
                    description: Email address
                    format: email
                    type: string
                  full_name:
                    description: Full name
                    example: Jane Doe
                    type: string
                  role:
                    description: Role
                    enum:
                    - owner
                    - manager
                    - editor
                    - filler
                    - reviewer
                    type: string
                type: object
              type: array
            workspace:
              description: Information about the workspace the document is present in
              properties:
                id:
                  description: Workspace ID
                  format: uuid
                  maxLength: 36
                  minLength: 36
                  pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                  type: string
                name:
                  description: Workspace name
                  type: string
                permissions:
                  description: List of permissions of the current user for the workspace
                  items:
                    enum:
                    - view_documents
                    - manage_documents
                    - manage
                    type: string
                  type: array
              type:
              - object
              - 'null'
      title: DocumentShowResponse
      type: object
    DocumentUpdateRequest:
      additionalProperties: false
      description: Used to update the document
      properties:
        document:
          additionalProperties: false
          description: Document parameters
          properties:
            attachments:
              description: Document attachments
              items:
                additionalProperties: false
                description: Document attachment
                properties:
                  filename:
                    description: 'Optional attachment name. We will use it when the user downloads the attachment, as well as display it next to the attachment in the app and in the PDF.

                      '
                    example: Document attachment 1
                    type:
                    - string
                    - 'null'
                  original:
                    description: URL of the attachment
                    example: https://example.com/image.png
                    format: uri
                    type: string
                  preview:
                    description: 'If the original is a document, this field will hold an list URL with image

                      previews of each page

                      '
                    items:
                      description: Preview URL
                      example: https://example.com/preview.png
                      format: url
                      type: string
                    type: array
                type: object
              type:
              - array
              - 'null'
            attachments_signed_separately:
              description: Indicates if the attachments should be signed and sealed separately
              example: true
              type: boolean
            company_logo_url:
              description: The URL of the logo shown in the contract
              format: uri
              type:
              - string
              - 'null'
            data_fields:
              description: Data fields in the document
              items:
                description: Create or update data field schema
                properties:
                  config:
                    additionalProperties: false
                    description: Additional config for this data field. Contains `options` for `select`, or `label` for `checkbox`.
                    properties:
                      label:
                        required: false
                        type:
                        - string
                        - 'null'
                      options:
                        items:
                          type: string
                        required: false
                        type: array
                    type: object
                  description:
                    description: Description
                    type:
                    - string
                    - 'null'
                  formatting:
                    additionalProperties: false
                    description: Formatting
                    properties:
                      fractional:
                        type:
                        - boolean
                        - 'null'
                      grouping:
                        enum:
                        - ''
                        - dot
                        - comma
                        - space
                        type:
                        - string
                        - 'null'
                    type:
                    - object
                    - 'null'
                  id:
                    description: Unique ID
                    format: uuid
                    pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                    type: string
                  name:
                    description: Name
                    type: string
                  required:
                    description: Whether this data field must be filled to send the document for signature
                    type: boolean
                  source:
                    description: Source of data for this data field
                    enum:
                    - drafter_questionnaire
                    - ai
                    - salesforce
                    type:
                    - string
                    - 'null'
                  source_mapping:
                    description: Integration data mapping for this data field. Revealed only when connected to the same integration instance.
                    type:
                    - string
                    - 'null'
                  source_sync_type:
                    description: Integration sync mode for this data field. Revealed only when connected to the same integration instance.
                    enum:
                    - downstream
                    - upstream
                    - bidirectional
                    type:
                    - string
                    - 'null'
                  type:
                    description: Type
                    enum:
                    - text
                    - number
                    - date
                    - select
                    - checkbox
                    type: string
                  value:
                    description: Value
                    type:
                    - string
                    - 'null'
                required:
                - value
                - name
                - type
                title: DataFieldCreateOrUpdate
                type: object
              type: array
            dynamic_tables:
              items:
                additionalProperties: false
                description: Fill the data of the dynamic tables placeholders placed inside your template
                properties:
                  attrs:
                    description: Attributes of the dynamic table
                    properties:
                      columns:
                        description: Column names
                        items:
                          description: Column name
                          type: string
                        type: array
                      id:
                        description: Dynamic table ID
                        type: string
                      rows:
                        description: Data for the table rows
                        items:
                          description: Table row
                          items:
                            description: Cell value
                            type: string
                          type: array
                        type: array
                    required:
                    - id
                    - columns
                    - rows
                    type: object
                required:
                - attrs
                type: object
              type: array
            language:
              description: Language
              example: en
              type:
              - string
              - 'null'
            message:
              additionalProperties: false
              properties:
                content:
                  description: Message content
                  example: Hello!
                  type: string
              type: object
            parties:
              description: Parties and signees
              items:
                additionalProperties: false
                description: Party
                properties:
                  address:
                    description: Address
                    example: 123 Main Street
                    type:
                    - string
                    - 'null'
                  id:
                    description: Unique ID
                    format: uuid
                    pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                    type:
                    - string
                    - 'null'
                  name:
                    description: Name
                    example: Jane Doe
                    type:
                    - string
                    - 'null'
                  number:
                    description: Company's VAT number or CVR
                    type:
                    - string
                    - 'null'
                  reference:
                    description: How the party will be referred to in the document
                    example: Sender
                    type:
                    - string
                    - 'null'
                  signees:
                    description: Party's signees
                    items:
                      additionalProperties: false
                      properties:
                        changes_requested_at:
                          description: Date and time when the signee requested changes to the document
                          format: date-time
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        email:
                          description: Signee's email address
                          format: email
                          type:
                          - string
                          - 'null'
                        full_name:
                          description: Signee's full name
                          example: Jane Doe
                          type:
                          - string
                          - 'null'
                        id:
                          description: Unique ID
                          format: uuid
                          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                          type:
                          - string
                          - 'null'
                        opened_at:
                          description: Date and time when the signee opened the document
                          format: date-time
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        order:
                          description: Signee's signing order. When the signing order mode is set to `grouped`, then this number represents the signee's group number.
                          minimum: 0
                          type: integer
                        rejected_at:
                          description: Date and time when the signee rejected the document
                          format: date-time
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        signature_verification_methods:
                          description: List of allowed signature types for the signee
                          example:
                          - sms
                          - basic
                          - wet_signature
                          items:
                            enum:
                            - sms
                            - basic
                            - wet_signature
                            - criipto_dk_mitid_substantial
                            - criipto_dk_mitid_business
                            - criipto_no_bankid
                            - criipto_se_bankid_same_device
                            - criipto_se_bankid_another_device
                            - criipto_fi_bankid
                            - criipto_fi_bankid_mobile
                            type: string
                          type:
                          - array
                          - 'null'
                        signed_at:
                          description: Date and time when the signee signed the document
                          format: date-time
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        title:
                          description: Signee's title
                          example: Software Engineer
                          type:
                          - string
                          - 'null'
                      type: object
                    type: array
                  type:
                    description: Type
                    enum:
                    - personal
                    - company
                    type: string
                type: object
              type: array
            signing_order_mode:
              description: The signing order mode. When it's set to grouped, each signee in `parties.signees`, should have the order field set to the group's number starting from 0.
              enum:
              - random
              - strict
              - grouped
              example: grouped
              type: string
            tags:
              description: Document's tags
              items:
                example: tags
                minLength: 1
                type: string
              type: array
            title:
              description: Document title
              type: string
            to_be_signed_by:
              description: Who should sign the document
              enum:
              - owner_and_others
              - others_only
              - owner_only
              example: owner_only
              type: string
            version:
              description: 'The version has to be provided on update and match the latest document''s version.


                You can get it from the response when you get a document by ID.

                It is also available in the response from document create or update actions.

                '
              format: uuid
              pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
              type: string
          title: DocumentUpdateAttibutes
          type: object
      required:
      - document
      title: DocumentUpdateRequest
      type: object
    NotFoundError:
      additionalProperties: false
      description: Not Found
      properties:
        error:
          additionalProperties: false
          properties:
            message:
              description: Error details message
              example: Not Found
              type: string
            type:
              description: HTTP error message
              example: not_found
              type: string
          readOnly: true
          required:
          - type
          - message
          type: object
      readOnly: true
      required:
      - error
      title: NotFoundError
      type: object
    DataField:
      description: Data field
      properties:
        config:
          additionalProperties: false
          description: Additional config for this data field. Contains `options` for `select`, or `label` for `checkbox`.
          properties:
            label:
              required: false
              type:
              - string
              - 'null'
            options:
              items:
                type: string
              required: false
              type: array
          type: object
        description:
          description: Description
          type:
          - string
          - 'null'
        formatting:
          additionalProperties: false
          description: Formatting
          properties:
            fractional:
              type:
              - boolean
              - 'null'
            grouping:
              enum:
              - ''
              - dot
              - comma
              - space
              type:
              - string
              - 'null'
          type:
          - object
          - 'null'
        id:
          description: Unique ID
          format: uuid
          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          type: string
        name:
          description: Name
          type: string
        required:
          description: Whether this data field must be filled to send the document for signature
          type: boolean
        source:
          description: Source of data for this data field
          enum:
          - drafter_questionnaire
          - ai
          - salesforce
          type:
          - string
          - 'null'
        source_mapping:
          description: Integration data mapping for this data field. Revealed only when connected to the same integration instance.
          type:
          - string
          - 'null'
        source_sync_type:
          description: Integration sync mode for this data field. Revealed only when connected to the same integration instance.
          enum:
          - downstream
          - upstream
          - bidirectional
          type:
          - string
          - 'null'
        type:
          description: Type
          enum:
          - text
          - number
          - date
          - select
          - checkbox
          type: string
        value:
          description: Value
          type:
          - string
          - 'null'
      required:
      - id
      - value
      - formatting
      - description
      - config
      - name
      - type
      - required
      - source
      - source_mapping
      - source_sync_type
      title: DataField
      type: object
    DocumentPdfShowResponse:
      additionalProperties: false
      description: An object with an URL to the PDF file
      properties:
        location:
          description: The URL, that can be used to download the PDF file
          format: url
          type: string
      required:
      - location
      title: DocumentPdfShowResponse
      type: object
    ServiceUnavailableError:
      additionalProperties: false
      description: Service Unavailable
      properties:
        error:
          additionalProperties: false
          properties:
            message:
              description: Error details message
              example: Service Unavailable
              type: string
            type:
              description: HTTP error message
              example: service_unavailable
              type: string
          readOnly: true
          required:
          - type
          - message
          type: object
      readOnly: true
      required:
      - error
      title: ServiceUnavailableError
      type: object
    DocumentIndexResponse:
      additionalProperties: false
      description: Paginated list of documents
      properties:
        documents:
          items:
            additionalProperties: false
            description: Preview of a document
            properties:
              active_task_count:
                description: Number of active tasks
                minimum: 0
                type: integer
              comment_count:
                description: Number of comments
                minimum: 0
                type: integer
              completed_task_count:
                description: Number of completed tasks
                minimum: 0
                type: integer
              created_at:
                description: Date and time the document was created
                format: date-time
                type: string
              data_fields:
                description: Data fields in this document. Included only when requested with `full=true`.
                items:
                  $ref: '#/components/schemas/DataField'
                type: array
              folders:
                description: List of folders where the document is present
                items:
                  additionalProperties: false
                  properties:
                    accessible_by_current_user:
                      description: Whether the folder is accessible to the current user or not
                      type: boolean
                    email:
                      description: Folder's creator email
                      format: email
                      type: string
                    id:
                      anyOf:
                      - format: uuid
                        maxLength: 36
                        minLength: 36
                        pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                        type: string
                      - enum:
                        - root
                        type: string
                      description: Folder ID
                      type: string
                    shared:
                      description: Whether the folder is shared or not
                      type: boolean
                    title:
                      description: Folder title
                      type: string
                  required:
                  - id
                  type: object
                type: array
              id:
                description: Document ID
                format: uuid
                maxLength: 36
                minLength: 36
                pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                type: string
              ocr_status:
                description: OCR status of the document
                enum:
                - none
                - not_started
                - pending
                - success
                - failure
                example: pending
                type:
                - string
                - 'null'
              owner:
                additionalProperties: false
                description: Document's owner information
                properties:
                  email:
                    description: Owner's email address
                    format: email
                    type: string
                  full_name:
                    description: Owner's full name
                    example: Jane Doe
                    type: string
                  id:
                    description: Owner's profile ID
                    format: uuid
                    maxLength: 36
                    minLength: 36
                    pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                    type: string
                required:
                - id
                - email
                - full_name
                type: object
              parties:
                description: Parties and signees
                items:
                  additionalProperties: false
                  description: Party
                  properties:
                    address:
                      description: Address
                      example: 123 Main Street
                      type:
                      - string
                      - 'null'
                    id:
                      description: Unique ID
                      format: uuid
                      pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                      type:
                      - string
                      - 'null'
                    name:
                      description: Name
                      example: Jane Doe
                      type:
                      - string
                      - 'null'
                    number:
                      description: Company's VAT number or CVR
                      type:
                      - string
                      - 'null'
                    reference:
                      description: How the party will be referred to in the document
                      example: Recipient
                      type:
                      - string
                      - 'null'
                    signees:
                      description: Party's signees
                      items:
                        additionalProperties: false
                        properties:
                          changes_requested_at:
                            description: Date and time when the signee requested changes to the document
                            format: date-time
                            readOnly: true
                            type:
                            - string
                            - 'null'
                          email:
                            description: Signee's email address
                            format: email
                            type:
                            - string
                            - 'null'
                          full_name:
                            description: Signee's full name
                            example: Jane Doe
                            type:
                            - string
                            - 'null'
                          id:
                            description: Unique ID
                            format: uuid
                            pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                            type:
                            - string
                            - 'null'
                          opened_at:
                            description: Date and time when the signee opened the document
                            format: date-time
                            readOnly: true
                            type:
                            - string
                            - 'null'
                          order:
                            description: Signee's signing order. When the signing order mode is set to `grouped`, then this number represents the signee's group number.
                            minimum: 0
                            type: integer
                          rejected_at:
                            description: Date and time when the signee rejected the document
                            format: date-time
                            readOnly: true
                            type:
                            - string
                            - 'null'
                          signature_verification_methods:
                            description: List of allowed signature types for the signee
                            example:
                            - sms
                            - basic
                            - wet_signature
                            items:
                              enum:
                              - sms
                              - basic
                              - wet_signature
                              - criipto_dk_mitid_substantial
                              - criipto_dk_mitid_business
                              - criipto_no_bankid
                              - criipto_se_bankid_same_device
                              - criipto_se_bankid_another_device
                              - criipto_fi_bankid
                              - criipto_fi_bankid_mobile
                              type: string
                            type:
                            - array
                            - 'null'
                          signed_at:
                            description: Date and time when the signee signed the document
                            format: date-time
                            readOnly: true
                            type:
                            - string
                            - 'null'
                          title:
                            description: Signee's title
                            example: Software Engineer
                            type:
                            - string
                            - 'null'
                        type: object
                      type: array
                    type:
                      description: Type
                      enum:
                      - personal
                      - company
                      type: string
                  type: object
                type: array
              sample:
                default: false
                description: Whether this document exists for demonstration purposes or not
                type: boolean
              signed_at:
                description: Date and time the document was signed
                format: date-time
                type:
                - string
                - 'null'
              signing_order_mode:
                description: The signing order mode. When it's set to grouped, each signee in `parties.signees`, should have the order field set to the group's number starting from 0.
                enum:
                - random
                - strict
                - grouped
                example: strict
                type: string
              state:
                description: Document state
                enum:
                - draft
                - rejected
                - changes_requested
                - pending
                - signed
                - irrelevant
                type: string
              tags:
                description: Document's tags
                items:
                  example: tags
                  type: string
                type:
                - array
                - 'null'
              title:
                description: Document title
                type: string
              to_be_signed_by:
                description: Who should sign the document
                enum:
                - owner_and_others
                - others_only
                - owner_only
                type: string
              type:
                description: Document type
                enum:
                - draft
                - contract
                - stored_contract
                type: string
              updated_at:
                description: Date and time the document was last modified
                format: date-time
                type: string
              version:
                description: Version
                format: uuid
                pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                type:
                - string
                - 'null'
              visibilities:
                description: Document's users visibilities
                items:
                  additionalProperties: false
                  properties:
                    email:
                      description: Email address
                      format: email
                      type: string
                    full_name:
                      description: Full name
                      example: Jane Doe
                      type: string
                    role:
                      description: Role
                      enum:
                      - owner
                      - manager
                      - editor
                      - filler
                      - reviewer
                      type: string
                  required:
                  - email
                  - full_name
                  - role
                  type: object
                type: array
              workspace:
                description: Information about the workspace the document is present in
                properties:
                  id:
                    description: Workspace ID
                    format: uuid
                    maxLength: 36
                    minLength: 36
                    pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                    type: string
                  name:
                    description: Workspace name
                    type: string
                  permissions:
                    description: List of permissions of the current user for the workspace
                    items:
                      enum:
                      - view_templates
                      - edit_templates
                      - manage_templates
                      - view_documents
                      - manage_documents
                      - manage
                      type: string
                    type: array
                type:
                - object
                - 'null'
            title: DocumentPreview
            type: object
          type: array
        pagination_meta:
          additionalProperties: false
          description: Pagination metadata
          properties:
            cursor:
              description: Identifier of the next page
              format: base64
              type:
              - string
              - 'null'
          type: object
      title: DocumentIndexResponse
      type: object
  securitySchemes:
    authorization:
      scheme: bearer
      type: http
