openapi: 3.2.0
info:
  description: '> **Note**

    >

    > Looking for documentation for **Public API v2**?'
  title: Contractbook Attachments API
  version: '3.0'
  x-logo:
    altText: Contractbook logo
    backgroundColor: '#FFFFFF'
    url: public/contractbook-logo.svg
servers:
- description: Production server
  url: https://api.contractbook.com/v3/
  variables: {}
- description: Staging server
  url: https://api-staging.contractbook.com/v3/
  variables: {}
security: []
tags:
- name: Attachments
paths:
  /upload:
    post:
      callbacks: {}
      deprecated: false
      description: Uploads an attachment
      operationId: create_attachment
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
        description: Attachment data
        required: false
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileUploadResponse'
          description: Attachment
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
      summary: Upload an attachment
      tags:
      - Attachments
components:
  schemas:
    FileUploadResponse:
      additionalProperties: false
      description: Document attachment
      properties:
        original:
          description: URL of the attachment
          example: http://example.com/image.png
          format: uri
          type: string
        preview:
          description: 'If the original is a document, this field will hold an list URL with image

            previews of each page

            '
          items:
            example: http://example.com/image.png
            format: uri
            type: string
          type: array
      required:
      - original
      title: FileUploadResponse
      type: object
    UnauthorizedError:
      additionalProperties: false
      description: Unauthorized
      properties:
        error:
          additionalProperties: false
          properties:
            message:
              description: Error details message
              example: Unauthorized
              type: string
            type:
              description: HTTP error message
              example: unauthorized
              type: string
          readOnly: true
          required:
          - type
          - message
          type: object
      readOnly: true
      required:
      - error
      title: UnauthorizedError
      type: object
    FileUploadRequest:
      additionalProperties: false
      description: Payload with file
      properties:
        file:
          description: '**Accepted MIME types:**

            application/msword,

            application/pdf,

            application/vnd.ms-excel,

            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,

            application/vnd.openxmlformats-officedocument.wordprocessingml.document,

            application/zip,

            image/jpeg,

            image/png,

            text/csv,

            text/plain

            '
          format: binary
          type: string
      required:
      - file
      title: FileUploadRequest
      type: object
    BadRequestError:
      additionalProperties: false
      description: Bad Request
      properties:
        error:
          additionalProperties: false
          properties:
            failures:
              description: List of request errors
              items:
                additionalProperties: false
                description: Error description
                properties:
                  detail:
                    description: Details of the error
                    type: string
                  source:
                    additionalProperties: false
                    properties:
                      pointer:
                        description: Failing field name or reference
                        type: string
                    required:
                    - pointer
                    type: object
                  title:
                    description: Title of the error
                    type: string
                required:
                - title
                - detail
                type: object
              type: array
            message:
              description: Error details message
              example: Bad Request
              type: string
            type:
              description: HTTP error message
              example: bad_request
              type: string
          readOnly: true
          required:
          - type
          - message
          type: object
      readOnly: true
      required:
      - error
      title: BadRequestError
      type: object
  securitySchemes:
    authorization:
      scheme: bearer
      type: http
