openapi: 3.2.0
info:
  description: '> **Note**

    >

    > Looking for documentation for **Public API v2**?'
  title: Contractbook Automations API
  version: '3.0'
  x-logo:
    altText: Contractbook logo
    backgroundColor: '#FFFFFF'
    url: public/contractbook-logo.svg
servers:
- description: Production server
  url: https://api.contractbook.com/v3/
  variables: {}
- description: Staging server
  url: https://api-staging.contractbook.com/v3/
  variables: {}
security: []
tags:
- name: Automations
paths:
  /automations:
    get:
      callbacks: {}
      deprecated: false
      description: ''
      operationId: list_automations
      parameters:
      - description: ''
        in: query
        name: trigger_type
        required: true
        schema:
          enum:
          - webhook_trigger
          - hubspot_contractbook_automation_triggered
          - hubspot_deal_stage_changed
          - contract_signed
          - contract_verified_ai
          - contract_viewed
          - data_field_date_reached
          - data_field_updated
          - draft_created
          - draft_updated
          - drafter_questionnaire_completed
          - sent_for_signature
          - task_due_date_reached
          - task_is_done
          - pipedrive_deal_stage_changed
          - salesforce_flow_executed
          - salesforce_opportunity_stage_changed
          type: string
      - description: ''
        in: query
        name: trigger_filter
        schema:
          properties:
            object_type:
              example: Opportunity
              type: string
            record_type_id:
              example: 0060900000FpKajAAF
              type: string
          type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationIndexResponse'
          description: List of automations
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableContentError'
          description: Unprocessable request
      summary: Get a list of automations
      tags:
      - Automations
  /automations/{id}/run:
    post:
      callbacks: {}
      deprecated: false
      description: 'Note: Currently for this endpoint we only support those automations that have "Salesforce flow is executed" as a trigger'
      operationId: run_automation
      parameters:
      - description: Automation ID
        in: path
        name: id
        required: true
        schema:
          example: 1e013958-867e-43fb-8210-c98ab139beb6
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutomationRunRequest'
        description: Automation run parameters
        required: false
      responses:
        '204':
          content:
            application/json: {}
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableContentError'
          description: Unprocessable request
      summary: Runs a specific automation
      tags:
      - Automations
components:
  schemas:
    ForbiddenError:
      additionalProperties: false
      description: Forbidden
      properties:
        error:
          additionalProperties: false
          properties:
            message:
              description: Error details message
              example: Forbidden
              type: string
            type:
              description: HTTP error message
              example: forbidden
              type: string
          readOnly: true
          required:
          - type
          - message
          type: object
      readOnly: true
      required:
      - error
      title: ForbiddenError
      type: object
    UnprocessableContentError:
      additionalProperties: false
      description: Unprocessable Content
      properties:
        error:
          additionalProperties: false
          properties:
            failures:
              description: List of request errors
              items:
                additionalProperties: false
                description: Error description
                properties:
                  detail:
                    description: Details of the error
                    type: string
                  source:
                    additionalProperties: false
                    properties:
                      pointer:
                        description: Failing field name or reference
                        type: string
                    required:
                    - pointer
                    type: object
                  title:
                    description: Title of the error
                    type: string
                required:
                - title
                - detail
                type: object
              type: array
            message:
              description: Error details message
              example: Unprocessable Content
              type: string
            type:
              description: HTTP error message
              example: unprocessable_entity
              type: string
          readOnly: true
          required:
          - type
          - message
          type: object
      readOnly: true
      required:
      - error
      title: UnprocessableContentError
      type: object
    UnauthorizedError:
      additionalProperties: false
      description: Unauthorized
      properties:
        error:
          additionalProperties: false
          properties:
            message:
              description: Error details message
              example: Unauthorized
              type: string
            type:
              description: HTTP error message
              example: unauthorized
              type: string
          readOnly: true
          required:
          - type
          - message
          type: object
      readOnly: true
      required:
      - error
      title: UnauthorizedError
      type: object
    BadRequestError:
      additionalProperties: false
      description: Bad Request
      properties:
        error:
          additionalProperties: false
          properties:
            failures:
              description: List of request errors
              items:
                additionalProperties: false
                description: Error description
                properties:
                  detail:
                    description: Details of the error
                    type: string
                  source:
                    additionalProperties: false
                    properties:
                      pointer:
                        description: Failing field name or reference
                        type: string
                    required:
                    - pointer
                    type: object
                  title:
                    description: Title of the error
                    type: string
                required:
                - title
                - detail
                type: object
              type: array
            message:
              description: Error details message
              example: Bad Request
              type: string
            type:
              description: HTTP error message
              example: bad_request
              type: string
          readOnly: true
          required:
          - type
          - message
          type: object
      readOnly: true
      required:
      - error
      title: BadRequestError
      type: object
    NotFoundError:
      additionalProperties: false
      description: Not Found
      properties:
        error:
          additionalProperties: false
          properties:
            message:
              description: Error details message
              example: Not Found
              type: string
            type:
              description: HTTP error message
              example: not_found
              type: string
          readOnly: true
          required:
          - type
          - message
          type: object
      readOnly: true
      required:
      - error
      title: NotFoundError
      type: object
    AutomationRunRequest:
      additionalProperties: false
      description: Payload that will be passed to the automation when running it
      properties:
        attachments:
          description: Publicly accesible links to files
          example:
          - https://contractbook.com/file.pdf
          items:
            type: string
          type: array
        contacts:
          description: List of Salesforce Contact IDs
          example:
          - 0030900000Ujt0BAAR
          - 0030900000Ujt0GAAR
          items:
            type: string
          type: array
        object_id:
          example: 0060900000FpKajAAF
          type: string
        object_type:
          example: Opportunity
          type: string
      required:
      - object_type
      - object_id
      title: AutomationRunRequest
      type: object
    AutomationIndexResponse:
      additionalProperties: false
      description: A list of automations
      properties:
        automations:
          items:
            additionalProperties: false
            description: Preview of an automation
            properties:
              id:
                description: Automation ID
                example: 6b6314b6-56f9-4454-869a-84c96682cea9
                format: uuid
                maxLength: 36
                minLength: 36
                pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                type: string
              inserted_at:
                description: Date and time when the automation was created
                format: date-time
                type: string
              name:
                description: Automation Name
                example: Generate Employment agreement
                type: string
              published:
                description: Is automation published?
                example: true
                type: boolean
              updated_at:
                description: Date and time when the automation was las updated
                format: date-time
                type: string
            title: AutomationPreview
            type: object
          type: array
      title: AutomationIndexResponse
      type: object
  securitySchemes:
    authorization:
      scheme: bearer
      type: http
